version: "3"
networks:
    dbwebb:
services:
    server:
        image: jeneljenel/vlinux-kmom10:server
        container_name: "myserver"
        ports:
            - "8080:1337"
        networks:
            - dbwebb
        volumes:
            - "./server:/server/"
            - "./data:/server/data/"
        restart:
            "always"
    client:
        image: jeneljenel/vlinux-kmom10:client
        container_name: "myclient"
        networks: 
            - dbwebb
        links: 
            - server:myserver